# CHV MVP-1 environment

CHV_HTTP_ADDR=:8080
CHV_DATA_ROOT=/var/lib/chv
CHV_DATABASE_PATH=/var/lib/chv/chv.db
CHV_BRIDGE_NAME=chvbr0
CHV_BRIDGE_CIDR=10.0.0.1/24
CHV_LOCALDISK_PATH=/var/lib/chv/storage/localdisk
CHV_CLOUD_HYPERVISOR=/usr/bin/cloud-hypervisor
